<h4 class="ui dividing header">{{ 'mangoweb.admin.zasilkovna.title'|trans }}</h4>
{{ form_row(form.zasilkovnaConfig.apiKey) }}
{{ form_row(form.zasilkovnaConfig.optionCountry) }}
{{ form_row(form.zasilkovnaConfig.senderLabel) }}
{{ form_row(form.zasilkovnaConfig.carrierId) }}
