{% set zasilkovna = order.shipments.last.zasilkovna %}
{% if zasilkovna %}
	<address>
		{{ 'mangoweb.shop.checkout.complete.zasilkovnaBrach'|trans }}<br>
		<strong>
			<a href="{{ zasilkovna.url }}" target="_blank" rel="noopener">
				{{ zasilkovna.place }}
			</a>
		</strong>
		<br>
		{{ zasilkovna.street }}<br/>
		{{ zasilkovna.city }}, {{ zasilkovna.zip }}<br/>
		<i class="{{ zasilkovna.country|lower }} flag"></i>
		{{ zasilkovna.country|sylius_country_name|upper }}
	</address>
{% else %}
	{% include '@SyliusShop/Common/_address.html.twig' with {'address': order.shippingAddress} %}
{% endif %}
